In [2]:
import requests
import pandas as pd
import streamlit as st
import cfbd
import sqlalchemy.dialects

In [24]:
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'XscFL3JKpF/UVy2fexpow+vZ/o6rlKfxtnQdN70yVY89w1aTyXYDO+o641kfK8zy'
configuration.api_key_prefix['Authorization'] = 'Bearer'

api_instance = cfbd.GamesApi(cfbd.ApiClient(configuration))


fav_team = input('What is your favorite team: ')
records = api_instance.get_team_records(team = f'{fav_team}')

In [85]:
df = pd.DataFrame.from_records([g.to_dict() for g in records])
df

,year,team_id,team,conference,division,expected_wins,total,conference_games,home_games,away_games
0,1918,127,Michigan State,FBS Independents,,0.0,"{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 1, 'wins': 1, 'losses': 0, 'ties': 0}","{'games': 5, 'wins': 4, 'losses': 1, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}"
1,1925,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 3, 'wins': 1, 'losses': 2, 'ties': 0}","{'games': 5, 'wins': 3, 'losses': 2, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}"
2,1926,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}","{'games': 4, 'wins': 3, 'losses': 1, 'ties': 0}","{'games': 4, 'wins': 0, 'losses': 4, 'ties': 0}"
3,1927,127,Michigan State,FBS Independents,,0.0,"{'games': 9, 'wins': 4, 'losses': 5, 'ties': 0}","{'games': 1, 'wins': 0, 'losses': 1, 'ties': 0}","{'games': 5, 'wins': 4, 'losses': 1, 'ties': 0}","{'games': 4, 'wins': 0, 'losses': 4, 'ties': 0}"
4,1928,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}","{'games': 5, 'wins': 3, 'losses': 2, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}"
...,...,...,...,...,...,...,...,...,...,...
94,2019,127,Michigan State,Big Ten,East,8.3,"{'games': 13, 'wins': 7, 'losses': 6, 'ties': 0}","{'games': 9, 'wins': 4, 'losses': 5, 'ties': 0}","{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 5, 'wins': 2, 'losses': 3, 'ties': 0}"
95,2020,127,Michigan State,Big Ten,East,2.6,"{'games': 7, 'wins': 2, 'losses': 5, 'ties': 0}","{'games': 7, 'wins': 2, 'losses': 5, 'ties': 0}","{'games': 4, 'wins': 1, 'losses': 3, 'ties': 0}","{'games': 3, 'wins': 1, 'losses': 2, 'ties': 0}"
96,2021,127,Michigan State,Big Ten,East,9.2,"{'games': 13, 'wins': 11, 'losses': 2, 'ties': 0}","{'games': 9, 'wins': 7, 'losses': 2, 'ties': 0}","{'games': 6, 'wins': 6, 'losses': 0, 'ties': 0}","{'games': 6, 'wins': 4, 'losses': 2, 'ties': 0}"
97,2022,127,Michigan State,Big Ten,East,3.9,"{'games': 12, 'wins': 5, 'losses': 7, 'ties': 0}","{'games': 9, 'wins': 3, 'losses': 6, 'ties': 0}","{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 5, 'wins': 1, 'losses': 4, 'ties': 0}"
98,2023,127,Michigan State,Big Ten,East,3.2,"{'games': 8, 'wins': 2, 'losses': 6, 'ties': 0}","{'games': 5, 'wins': 0, 'losses': 5, 'ties': 0}","{'games': 5, 'wins': 2, 'losses': 3, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}"

In [86]:
data = pd.json_normalize(df['total'])
data

    games  wins  losses  ties
0       7     4       3     0
1       8     3       5     0
2       8     3       5     0
3       9     4       5     0
4       8     3       5     0
..    ...   ...     ...   ...
94     13     7       6     0
95      7     2       5     0
96     13    11       2     0
97     12     5       7     0
98      8     2       6     0

[99 rows x 4 columns]

In [87]:
df['total_games'] = data['games']

In [88]:
df['total_wins'] = data['wins']

In [89]:
df['total_losses'] = data['losses']

In [90]:
df['total_ties'] = data['ties']

In [91]:
data1 = pd.json_normalize(df['conference_games'])

In [92]:
df['total_conference_games'] = data1['games']

In [93]:
df['total_conference_wins'] = data1['wins']

In [94]:
df['total_conference_losses'] = data1['losses']

In [95]:
df['total_conference_ties'] = data1['ties']

In [96]:
df.head(2)

,year,team_id,team,conference,division,expected_wins,total,conference_games,home_games,away_games,total_games,total_wins,total_losses,total_ties,total_conference_games,total_conference_wins,total_conference_losses,total_conference_ties
0,1918,127,Michigan State,FBS Independents,,0.0,"{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 1, 'wins': 1, 'losses': 0, 'ties': 0}","{'games': 5, 'wins': 4, 'losses': 1, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}",7,4,3,0,1,1,0,0
1,1925,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 3, 'wins': 1, 'losses': 2, 'ties': 0}","{'games': 5, 'wins': 3, 'losses': 2, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}",8,3,5,0,3,1,2,0

In [97]:
data2 = pd.json_normalize(df['home_games'])

In [98]:
df['total_home_games'] = data2['games']

In [99]:
df['total_home_wins'] = data2['wins']

In [100]:
df['total__home_losses'] = data2['losses']

In [101]:
df['total__home_ties'] = data2['ties']

In [102]:
df.head(2)

,year,team_id,team,conference,division,expected_wins,total,conference_games,home_games,away_games,...,total_losses,total_ties,total_conference_games,total_conference_wins,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties
0,1918,127,Michigan State,FBS Independents,,0.0,"{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 1, 'wins': 1, 'losses': 0, 'ties': 0}","{'games': 5, 'wins': 4, 'losses': 1, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}",...,3,0,1,1,0,0,5,4,1,0
1,1925,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 3, 'wins': 1, 'losses': 2, 'ties': 0}","{'games': 5, 'wins': 3, 'losses': 2, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}",...,5,0,3,1,2,0,5,3,2,0

In [103]:
data3 = pd.json_normalize(df['away_games'])

In [104]:
df['total_away_games'] = data3['games']

In [105]:
df['total_away_wins'] = data3['wins']

In [106]:
df['total_away_losses'] = data3['losses']

In [107]:
df['total_away_ties'] = data3['ties']

In [108]:
df.head(2)

,year,team_id,team,conference,division,expected_wins,total,conference_games,home_games,away_games,...,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties,total_away_games,total_away_wins,total_away_losses,total_away_ties
0,1918,127,Michigan State,FBS Independents,,0.0,"{'games': 7, 'wins': 4, 'losses': 3, 'ties': 0}","{'games': 1, 'wins': 1, 'losses': 0, 'ties': 0}","{'games': 5, 'wins': 4, 'losses': 1, 'ties': 0}","{'games': 2, 'wins': 0, 'losses': 2, 'ties': 0}",...,0,0,5,4,1,0,2,0,2,0
1,1925,127,Michigan State,FBS Independents,,0.0,"{'games': 8, 'wins': 3, 'losses': 5, 'ties': 0}","{'games': 3, 'wins': 1, 'losses': 2, 'ties': 0}","{'games': 5, 'wins': 3, 'losses': 2, 'ties': 0}","{'games': 3, 'wins': 0, 'losses': 3, 'ties': 0}",...,2,0,5,3,2,0,3,0,3,0

In [109]:
del df['total']

In [110]:
del df['conference_games']

In [111]:
del df['home_games']

In [112]:
del df['away_games']

In [113]:
df.head(2)

,year,team_id,team,conference,division,expected_wins,total_games,total_wins,total_losses,total_ties,...,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties,total_away_games,total_away_wins,total_away_losses,total_away_ties
0,1918,127,Michigan State,FBS Independents,,0.0,7,4,3,0,...,0,0,5,4,1,0,2,0,2,0
1,1925,127,Michigan State,FBS Independents,,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     99 non-null     int64
 1   team_id                  99 non-null     int64
 2   team                     99 non-null     object
 3   conference               99 non-null     object
 4   division                 99 non-null     object
 5   expected_wins            99 non-null     float64
 6   total_games              99 non-null     int64
 7   total_wins               99 non-null     int64
 8   total_losses             99 non-null     int64
 9   total_ties               99 non-null     int64
 10  total_conference_games   99 non-null     int64
 11  total_conference_wins    99 non-null     int64
 12  total_conference_losses  99 non-null     int64
 13  total_conference_ties    99 non-null     int64
 14  total_home_games         99 non-null     int64
 15  total_home_wins          99 non-null     int64
 16  total__home_losses       99 non-null     int64
 17  total__home_ties         99 non-null     int64
 18  total_away_games         99 non-null     int64
 19  total_away_wins          99 non-null     int64
 20  total_away_losses        99 non-null     int64
 21  total_away_ties          99 non-null     int64
dtypes: float64(1), int64(18), object(3)
memory usage: 17.1+ KB

In [115]:
df['division'].replace('', 'Not Applicable', inplace=True)

In [116]:
df

,year,team_id,team,conference,division,expected_wins,total_games,total_wins,total_losses,total_ties,...,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties,total_away_games,total_away_wins,total_away_losses,total_away_ties
0,1918,127,Michigan State,FBS Independents,Not Applicable,0.0,7,4,3,0,...,0,0,5,4,1,0,2,0,2,0
1,1925,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
2,1926,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,4,3,1,0,4,0,4,0
3,1927,127,Michigan State,FBS Independents,Not Applicable,0.0,9,4,5,0,...,1,0,5,4,1,0,4,0,4,0
4,1928,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2019,127,Michigan State,Big Ten,East,8.3,13,7,6,0,...,5,0,7,4,3,0,5,2,3,0
95,2020,127,Michigan State,Big Ten,East,2.6,7,2,5,0,...,5,0,4,1,3,0,3,1,2,0
96,2021,127,Michigan State,Big Ten,East,9.2,13,11,2,0,...,2,0,6,6,0,0,6,4,2,0
97,2022,127,Michigan State,Big Ten,East,3.9,12,5,7,0,...,6,0,7,4,3,0,5,1,4,0
98,2023,127,Michigan State,Big Ten,East,3.2,8,2,6,0,...,5,0,5,2,3,0,3,0,3,0

In [117]:
# Connecting to Elephant SQL

connection = 'postgresql://lbgowpbc:dNYHpRnfDLZbvt4iBvVhp11ziizGwLlI@castor.db.elephantsql.com/lbgowpbc'

In [118]:
df.to_sql('team_records', index=False, con = connection, if_exists = 'append')

99

In [119]:
df.to_csv('data/new_team_records.csv', index=False)

In [120]:
df = pd.read_csv('data/new_team_records.csv')
df

,year,team_id,team,conference,division,expected_wins,total_games,total_wins,total_losses,total_ties,...,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties,total_away_games,total_away_wins,total_away_losses,total_away_ties
0,1918,127,Michigan State,FBS Independents,Not Applicable,0.0,7,4,3,0,...,0,0,5,4,1,0,2,0,2,0
1,1925,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
2,1926,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,4,3,1,0,4,0,4,0
3,1927,127,Michigan State,FBS Independents,Not Applicable,0.0,9,4,5,0,...,1,0,5,4,1,0,4,0,4,0
4,1928,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2019,127,Michigan State,Big Ten,East,8.3,13,7,6,0,...,5,0,7,4,3,0,5,2,3,0
95,2020,127,Michigan State,Big Ten,East,2.6,7,2,5,0,...,5,0,4,1,3,0,3,1,2,0
96,2021,127,Michigan State,Big Ten,East,9.2,13,11,2,0,...,2,0,6,6,0,0,6,4,2,0
97,2022,127,Michigan State,Big Ten,East,3.9,12,5,7,0,...,6,0,7,4,3,0,5,1,4,0
98,2023,127,Michigan State,Big Ten,East,3.2,8,2,6,0,...,5,0,5,2,3,0,3,0,3,0

In [123]:
df['year'] = df['year'].replace(',', '', regex=True)

In [124]:
df

,year,team_id,team,conference,division,expected_wins,total_games,total_wins,total_losses,total_ties,...,total_conference_losses,total_conference_ties,total_home_games,total_home_wins,total__home_losses,total__home_ties,total_away_games,total_away_wins,total_away_losses,total_away_ties
0,1918,127,Michigan State,FBS Independents,Not Applicable,0.0,7,4,3,0,...,0,0,5,4,1,0,2,0,2,0
1,1925,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
2,1926,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,4,3,1,0,4,0,4,0
3,1927,127,Michigan State,FBS Independents,Not Applicable,0.0,9,4,5,0,...,1,0,5,4,1,0,4,0,4,0
4,1928,127,Michigan State,FBS Independents,Not Applicable,0.0,8,3,5,0,...,2,0,5,3,2,0,3,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2019,127,Michigan State,Big Ten,East,8.3,13,7,6,0,...,5,0,7,4,3,0,5,2,3,0
95,2020,127,Michigan State,Big Ten,East,2.6,7,2,5,0,...,5,0,4,1,3,0,3,1,2,0
96,2021,127,Michigan State,Big Ten,East,9.2,13,11,2,0,...,2,0,6,6,0,0,6,4,2,0
97,2022,127,Michigan State,Big Ten,East,3.9,12,5,7,0,...,6,0,7,4,3,0,5,1,4,0
98,2023,127,Michigan State,Big Ten,East,3.2,8,2,6,0,...,5,0,5,2,3,0,3,0,3,0

In [25]:
from __future__ import print_function
import time
import cfbd
from cfbd.rest import ApiException
from pprint import pprint

# Configure API key authorization: ApiKeyAuth
configuration = cfbd.Configuration()
configuration.api_key['Authorization'] = 'XscFL3JKpF/UVy2fexpow+vZ/o6rlKfxtnQdN70yVY89w1aTyXYDO+o641kfK8zy'
configuration.api_key_prefix['Authorization'] = 'Bearer'

# create an instance of the API class
api_instance = cfbd.TeamsApi(cfbd.ApiClient(configuration))
team2 = 'Michigan' # str | Second team

try:
    # Team matchup history
    api_response = api_instance.get_team_matchup(fav_team, team2)
    #print(api_response)
except ApiException as e:
    print("Exception when calling TeamsApi->get_team_matchup: %s\n" % e)

#matchup = pd.DataFrame(api_response['games'])
matchup = pd.DataFrame(api_response.to_dict()['games'])
matchup.head()

,season,week,season_type,_date,neutral_site,venue,home_team,home_score,away_team,away_score,winner
0,1898,6,None,1898-10-12T00:00:00.000Z,False,None,Michigan,39,Michigan State,0,Michigan
1,1902,5,None,1902-10-08T00:00:00.000Z,False,None,Michigan,119,Michigan State,0,Michigan
2,1907,4,None,1907-10-12T00:00:00.000Z,False,None,Michigan,46,Michigan State,0,Michigan
3,1908,4,None,1908-10-10T00:00:00.000Z,False,None,Michigan,0,Michigan State,0,None
4,1910,5,None,1910-10-15T00:00:00.000Z,False,None,Michigan,6,Michigan State,3,Michigan